.ui.one.column.center.aligned.grid
  .column.six.wide.form-holder
    %h2.center.aligned.header.form-head Sign in
    .ui.form
      .field
        %input{:placeholder => "username", :type => "text"}
      .field
        %input{:placeholder => "password", :type => "password"}
      .field
        %input.ui.button.large.fluid.green{:type => "submit", :value => "sign in"}
      .inline.field
        .ui.checkbox
          %input{:type => "checkbox"}
            %label Remember me