= render partial: "layouts/header", locals: {hide_search: true}
.box-top.wrap
  .ui.page.grid
    .fout.wide.column
      %h2.ui.header.search-title
        %i.search.icon
    .ten.wide.column
      .ui.fluid.icon.input
        %input{type: "text"}
    .two.wide.column
      .ui.fluid.button 搜索
.ui.divider
.wrap
  .ui.page.grid
    .four.wide.column
      %h3.ui.header 筛选类型
      .ui.fluid.vertical.menu
        %a.active.item
          .ui.teal.label 112
          全部
        %a.item
          .ui.label 51
          疾病
        %a.item
          .ui.label 12
          分类
        %a.item
          .ui.label 4
          医生
        %a.item
          .ui.label 2
          科室
    .result-box.twelve.wide.column
      %h3.ui.header 一共 112 条结果
      .ui.divider
      .ui.items
        - 5.times do
          .item
            .content
              %h3
                %a.header Header
              .meate
                %span Description
              .description
                %img{class: "ui wireframe image", src: "/images/wireframe/short-paragraph.png"}
              .extra
                Additional Details
        .pagination-box
          .ui.column.centered.grid
            .ui.centered.borderless.pagination.menu
              %a.item
                %i.left.arrow.icon
                上一页
              - 4.times do |i|
                %a.item
                  = i
              %a.item
                %i.right.arrow.icon
                下一页
= render "layouts/footer"