<%= render partial: "layouts/header", locals: {hide_search: true} %>

<div class="search-box-top wrap">
  <div class="ui page grid">
    <div class="four wide column">
      <h2 class="ui header search-title">
        <i class="search icon"></i>搜索
      </h2>
    </div>
    <div class="ten wide column">
      <div class="ui fluid icon input">
        <input type="text">
      </div>
    </div>
    <div class="two wide column">
      <div class="ui fluid button">搜索</div>
    </div>
  </div>
</div>

<div class="ui divider"></div>

<div class="wrap">
  <div class="ui page grid">
    <div class="four wide column">
      <h3 class="ui header">筛选类型</h3>
      <div class="ui fluid vertical menu">
        <a class="active item"><div class="ui teal label">112</div>全部</a>
        <a class="item"><div class="ui label">51</div>疾病</a>
        <a class="item"><div class="ui label">12</div>分类</a>
        <a class="item"><div class="ui label">4</div>医生</a>
        <a class="item"><div class="ui label">2</div>科室</a>
      </div>
    </div>

    <div class="search-result-box twelve wide column">
      <h3 class="ui header">一共 112 条结果</h3>
      <div class="ui divider"></div>
      <div class="ui items">

        <div class="item">
          <div class="content">
            <h3><a class="header">Header</a></h3>
            <div class="meta">
              <span>Description</span>
            </div>
            <div class="description">
              <img src="/images/wireframe/short-paragraph.png" class="ui wireframe image">
            </div>
            <div class="extra">
              Additional Details
            </div>
          </div>
        </div>
        <div class="item">
          <div class="content">
            <h3><a class="header">Header</a></h3>
            <div class="meta">
              <span>Description</span>
            </div>
            <div class="description">
              <img src="/images/wireframe/short-paragraph.png" class="ui wireframe image">
            </div>
            <div class="extra">
              Additional Details
            </div>
          </div>
        </div>
        <div class="item">
          <div class="content">
            <h3><a class="header">Header</a></h3>
            <div class="meta">
              <span>Description</span>
            </div>
            <div class="description">
              <img src="/images/wireframe/short-paragraph.png" class="ui wireframe image">
            </div>
            <div class="extra">
              Additional Details
            </div>
          </div>
        </div>
        <div class="item">
          <div class="content">
            <h3><a class="header">Header</a></h3>
            <div class="meta">
              <span>Description</span>
            </div>
            <div class="description">
              <img src="/images/wireframe/short-paragraph.png" class="ui wireframe image">
            </div>
            <div class="extra">
              Additional Details
            </div>
          </div>
        </div>

        <div class="ui hidden divider"></div>

        <div class="ui column centered grid">
          <div class="ui centered borderless pagination menu">
            <a class="item"><i class="left arrow icon"></i> 上一页</a>
            <a class="item">1</a>
            <a class="item">2</a>
            <a class="item">3</a>
            <a class="item">4</a>
            <a class="item">下一页 <i class="icon right arrow"></i></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render "layouts/footer" %>
