.ui.tab{"data-tab" => "second"}
  .ui.row.grid.tab-treatment
    .four.wide.column
      %h3.ui.header 筛选亚类
      .ui.fluid.vertical.menu
        %a.active.item
          .ui.teal.label> 112
          全部
        %a.item
          .ui.label> 51
          疾病
        %a.item
          .ui.label> 12
          分类
        %a.item
          .ui.label> 4
          医生
        %a.item
          .ui.label> 2
          科室
      %h3.ui.header 筛选科室
      .ui.fluid.vertical.secondary.menu
        %a.active.item
          .ui.teal.label> 112
          全部
        %a.item
          .ui.label> 51
          疾病
        %a.item
          .ui.label> 12
          分类
        %a.item
          .ui.label> 4
          医生
        %a.item
          .ui.label> 2
          科室
    .search-result-box.twelve.wide.column
      .left.floated.column
        %h3.ui.header 一共 112 条结果
      .right.floated.column
        .ui.primary.button
          %i.plus.icon>
          新建
      .clear-both
      .ui.divider
      .ui.items
        .item
          .content
            %h3
              %a.header Header Header Header Header Header
            .meta
              %span Description Description Description Description Description
        .item
          .content
            %h3
              %a.header Header Header Header Header Header
            .meta
              %span Description Description Description Description Description
        .item
          .content
            %h3
              %a.header Header Header Header Header Header
            .meta
              %span Description Description Description Description Description
        .item
          .content
            %h3
              %a.header Header Header Header Header Header
            .meta
              %span Description Description Description Description Description
        .item
          .content
            %h3
              %a.header Header Header Header Header Header
            .meta
              %span Description Description Description Description Description
        .pagination-box
          .ui.column.centered.grid
            .ui.centered.borderless.pagination.menu
              %a.item
                %i.left.arrow.icon
                上一页
              %a.item 1
              %a.item 2
              %a.item 3
              %a.item 4
              %a.item
                下一页
                %i.icon.right.arrow