.ui.tab{"data-tab" => "treatments"}
  .ui.row.grid.tab-treatment
    .four.wide.column
      %h3.ui.header 筛选医生
      .ui.fluid.vertical.menu
        %a.active.item
          .ui.teal.label> 15
          全部
        %a.item
          .ui.label> 6
          唐科士
        %a.item
          .ui.label> 4
          陈宗福
        %a.item
          .ui.label> 5
          黄中力
    .twelve.wide.column
      .left.floated.column
        %h3.ui.header 一共 15 条结果
      .right.floated.column
        .ui.primary.button
          %i.plus.icon>
          新建
      .clear-both
      .ui.divider
      .ui.items
        - @treatments.each do |treatment|
          .item
            .content
              %h3
                %a.header
                  = treatment.name
              .meta
                %span 
                  = treatment.description
          .ui.divider
        .pagination-box
          = will_paginate @treatments, class: 'ui borderless pagination menu'