<%= render "layouts/header" %>

<div class="category-box wrap">
  <div class="ui page grid">
    <div class="sixteen wide column">
      <div class="ui large breadcrumb">
        <a class="section" href="/">首页</a>
        <i class="right chevron icon divider"></i>
        <a class="section">呼吸系统疾病</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">感冒</div>
      </div>
    </div>
  </div>
</div>

<div class="summary-box wrap">
  <div class="ui page grid">
    <div class="sixteen wide column">
      <div class="ui top attached tabular menu">
          <a class="active item" data-tab="first">疾病详情</a>
          <a class="item" data-tab="second">治疗方案</a>
        </div>
      <div class="ui bottom attached active tab segment" data-tab="first">
        <div class="left floated column">
          <h1 class="ui header">感冒</h1>
          <div class="sub header">最新更新：2015年3月6日</div>
        </div>
        <div class="right floated column">
          <div class="ui button">
            <i class="edit icon"></i>编辑
          </div>
          <div class="ui button">
            <i class="star icon"></i>收藏
          </div>
          <div class="ui button">
            <i class="share icon"></i>分享
          </div>
        </div>
      </div>
      <div class="ui bottom attached tab segment" data-tab="second">
          Second
      </div>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>
