.form-area
  .ui.hidden.info.message
    %i.close.icon
    Error Message
  .ui.center.aligned.grid.qr-area
    .eight.wide.centered.column
      %img.qr-image{src: "/images/qr.png"}
      .ui.pointing.label 使用客户端扫描二维码
