// Place all the styles related to the DiseaseCategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Departments Controller
body.departments {

  // view Action
  >.show, >.edit {

    .intro-box {
      margin-top: 14px;
      padding-bottom: 12px;

      .description {
        margin-top: 14px;
        line-height: 24px;
        //text-indent: 2em;
      }
    }

    .department-doctor-box {
      .item {
        margin-top: 10px;
      }
      .header {
        font-size: 16px;
      }
      .description {
        font-size: 12px;
        font-weight: normal;
        color: gray;
        margin-top: 6px;
      }
    }

  }
  
}