// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.user_sessions > .new, 
body.users > .create {

  .sign-guide {
    font-size: 16px;
    font-weight: normal;
  }

  .sign-box {

    .ui.warning.form.segment {
      padding: 20px 0 20px 0;
    }

    .ui.fluid.two.item.secondary.pointing.menu {
      margin: 20px 0 0 0;
    }

    .form-area {
      padding: 20px 20px 10px 20px;
    }
    
    .ui.horizontal.divider {
      line-height: 20px;
    }
  }

  .wechat.icon.button:hover {
    background: #49ae0f;
    > i {
      color: #fff;
    }
  }
  .qq.icon.button:hover {
    background: #51b7ec;
    > i {
      color: #fff;
    }
  }
  .weibo.icon.button:hover {
    background: #eb182c;
    > i {
      color: #fff;
    }
  }

}

body.user_sessions > .new {
  
  .qr-area {
    padding: 20px 0 20px 0;
  }

  .qr-image {
    width: 150px;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    #margin-bottom: 10px;
  }

}