// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.users > .new, 
body.users > .signin {

  .sign-box {

    .form-area {
      padding: 20px 0 10px 0;
    }    
    .ui.warning.message {
      margin-bottom: 0;
    }
    .ui.horizontal.divider {
      line-height: 20px;
    }
  }
}

body.users {

  >.new {

  }

}