.ui.modal
  %i.close.icon
  .header
    - if @category.id.nil?
      添加顶级分类
    - else
      编辑分类：#{@category.name}
  .content
    = render 'category_form'
  .actions
    .ui.primary.button#category_save_button
      - if @category.id.nil?
        %i.plus.icon
        添加
      - else
        %i.save.icon
        保存
    .ui.button 取消