%h3.ui.header 科室医生
.ui.relaxed.list
  .item
    %img.ui.avatar.image{:src => "/images/avatar/small/daniel.jpg"}
      .content
        %a.header 陈宗福
        .description
          三级专家
  .item
    %img.ui.avatar.image{:src => "/images/avatar/small/stevie.jpg"}
      .content
        %a.header 唐科士
        .description
          二级专家
  .item
    %img.ui.avatar.image{:src => "/images/avatar/small/elliot.jpg"}
      .content
        %a.header 黄中力
        .description
          主治医师