%h3.ui.header 亚专业或疾病
.ui.items
  - 5.times do
    .item
      .image
        %img{:src => "/images/wireframe/image.png"}
      .content
        %h3
          %a.header Header
        .meate
          %span Description
        .description
          %img{class: "ui wireframe image", src: "/images/wireframe/short-paragraph.png"}
        .extra
          Additional Details