%h4.ui.header #{@category[:name]}下级科室 (#{@departments.length})
.ui.divider
.ui.grid
  - column_count = 3
  - count_per_column = (@departments.length + column_count - 1) / column_count
  - for i in 0...column_count
    .five.wide.column
      .ui.list
        - for j in 0...count_per_column
          - k = j * column_count + i
          - if k < @departments.length
            - department = @departments[k]
            .item.category-item
              %i.caret.right.icon
              .content
                = link_to department[:name], department_path(department), class: "header"