.ui.small.delete.modal
  .header
    删除分类
  .content
    %p
      确认删除分类：#{@category.name}？ 注意，此操作不可恢复
  .actions
    .ui.red.button#category_delete_button
      %i.trash.icon
      = link_to '删除', @category, method: :delete, style: 'color: inherit'
    .ui.deny.button 取消