%h3.ui.header 筛选分类
.ui.fluid.vertical.accordion.menu
  %a.active.item
    .ui.teal.label
      = @roots.count
    全部
  - @roots.each do |root|
    .item
      %a.active.bold.title
        %i.dropdown.icon
        = root[:name]
      .active.content
        - root.children.each do |snd|
          %a.item{href: disease_categories_path(snd)}
            .ui.label
              = snd.children.count
            = snd[:name]