%h3.ui.header 筛选分类
.ui.fluid.vertical.accordion.menu
  %a.active.item
    .ui.teal.label> 25
    全部
  .item
    %a.active.bold.title
      %i.dropdown.icon
      内科
    .active.content
      %a.item
        .ui.label> 15
        心血管内科
      %a.item
        .ui.label> 2
        神经内科
      %a.item
        .ui.label> 4
        消化内科
      %a.item
        .ui.label> 4
        内分泌科
      %a.item
        .ui.label> 4
        免疫科
      %a.item
        .ui.label> 4
        呼吸科
      %a.item
        .ui.label> 4
        肾病内科
      %a.item
        .ui.label> 4
        血液科
      %a.item
        .ui.label> 4
        感染内科
      %a.item
        .ui.label> 4
        过敏反应科
      %a.item
        .ui.label> 4
        老年病科
  .item
    %a.bold.title
      %i.dropdown.icon
      外科
    .content
      %a.item
        .ui.label> 15
        呼吸外科
      %a.item
        .ui.label> 2
        结核病科
      %a.item
        .ui.label> 4
        胸外科