%h3.ui.header 筛选分类
.ui.fluid.vertical.accordion.menu
  %a.active.item
    .ui.teal.label
      = @category_top.count
    全部
  - @category_top.each do |top|
    .item
      %a.active.bold.title
        %i.dropdown.icon
        = top[:name]
      .active.content
        - top.children.each do |snd|
          %a.item{href: disease_categories_path(snd)}
            .ui.label
              = snd.children.count
            = snd[:name]