- @category_top.each do |top|
  %h4.ui.header #{top[:name]}常见疾病 (25)
  .ui.divider
  .ui.grid
    .four.wide.column
    .four.wide.column
      122222
    .four.wide.column
      3333
    .four.wide.column
      44444