%h4.ui.header 呼吸外科常见疾病 (25)
.ui.divider
.ui.grid
  .four.wide.column
  .four.wide.column
    122222
  .four.wide.column
    3333
  .four.wide.column
    44444
%h4.ui.header 呼吸外科常见疾病 (25)
.ui.divider
.ui.grid
  .four.wide.column
  .four.wide.column
    122222
  .four.wide.column
    3333
  .four.wide.column
    444444