%h4.ui.header #{@view[:name]}下级分类 (#{@count})
.ui.divider
.ui.grid 
  - count_per_column = (@count + 3) / 4
  - for i in 0...4
    .four.wide.column
      - for j in 0...count_per_column
        - k = i * count_per_column + j
        - if k < @count
          - category = @children[k]
          = link_to category[:name], disease_categories_path(category)