= link_to "全部疾病", {controller: "disease_categories", action: "index"}, class: "section"
- @ancestors.each do |ancestor|
  %i.right.chevron.icon.divider
  = link_to ancestor[:name], disease_categories_path(ancestor), class: "section"
%i.right.chevron.icon.divider
.active.section
  = name