.nav-box.wrap
  .ui.page.grid
    .sixteen.wide.column
      .ui.large.breadcrumb
        = link_to "首页", root_path, class: "section"
        %i.right.chevron.icon.divider
        - if controller.controller_name ==  "disease_categories"
          - if action_name == "index"
            .active.section 全部疾病
          - elsif action_name == "view"
            = render partial: "nav/ancestors", locals: {name: @category.name}
        - elsif controller.controller_name ==  "diseases"
          = render partial: "nav/ancestors", locals: {name: @disease.name}