.ui.horizontal.footer-divider.divider
  %i.first.aid.icon
.footer-box.wrap
  .ui.page.grid
    .sisteen.wide.column
      .left.floated.column
        .footer-left
          \&copy; 2015 SCU-Apollo Team. All rights reserved.
      .right.floated.column
        .footer-right
          %a{href: "#"} Terms
          %a{href: "#"} Privacy
          %a{href: "#"} Contact
          %a{href: "#"} About