%div.ui.horizontal.footer-divider.divider
  %i.first.aid.icon
%div.footer-box.wrap
  %div.ui.page.grid
    %div.sisteen.wide.column
      %div.left.floated.column
        %div.footer-left
          &copy; 2015 SCU-Apollo Team. All rights reserved.
      %div.right.floated.column
        %div.footer-right
          %a{href: "#"} Terms
          %a{href: "#"} Privacy
          %a{href: "#"} Contact
          %a{href: "#"} About