<div class="ui horizontal footer-divider divider">
  <i class="first aid icon"></i>
</div>

<div class="footer-box wrap">
  <div class="ui page grid">
    <div class="sisteen wide column">
      <div class="left floated column">
        <div class="footer-left">
          &copy; 2015 SCU-Apollo Team. All rights reserved.
        </div>
      </div>
      <div class="right floated column">
        <div class="footer-right">
          <a href="#">Terms</a>
          <a href="#">Privacy</a>
          <a href="#">Contact</a>
          <a href="#">About</a>
        </div>
      </div>
    </div>
  </div>
</div>
