.header-top-banner
  .ui.page.grid
    .sixteen.wide.column
      .ui.secondary.menu
        %a.active.item{href: "/"}
          %i.home.icon
          = t('home')
        - unless defined? hide_search
          .item
            .ui.icon.input
              %input{placeholder: t('search'), type: "text"}
              %i.search.link.icon
        .right.menu
          - if logged_in?
            %a.item
              %i.mail.icon
              = t('message')
              .floating.ui.teal.circular.label
                5
            .ui.floating.top.right.pointing.dropdown.link.item
              %i.user.icon
              = t('personal')
              .menu
                .item
                  %i.home.icon
                  个人主页
                %a.item{href: "/settings"}
                  %i.setting.icon
                  设置
                %a.item{href: "/signout"}
                  %i.sign.out.icon
                  退出
          - else
            %a.item{href: "/auth/identity/signin"}
              %i.sign.in.icon
              登录
            %a.item{href: "/auth/identity/register"}
              %i.add.user.icon
              注册
